body {
  background: url(https://c4.wallpaperflare.com/wallpaper/175/524/956/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  text-align: center;
  color: #fff;
  padding: 100px;
}

.social-media img {
  width: 30px;
  margin: 0 10px;
}

h1 {
  color: red;
}

#copyButton1,
#copyButton2,
#copyButton3 {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e21414;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

#copyButton1:hover,
#copyButton2:hover,
#copyButton3:hover {
  background-color: #45a049;
}

#copyButton1:active,
#copyButton2:active,
#copyButton3:active {
  background-color: #3e8e41;
}

.link {
  text-align: center;
  margin-top: 20px;
}

.social-media {
  font-size: 18px;
  color: #555555;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

ul li {
  margin: 0 10px;
}

ul li a {
  color: #e31a1a;
  text-decoration: none;
}

ul li a i {
  font-size: 24px;
}

#textToCopy1 {
  color: #3cff00; /* Change to your desired text color */
  margin-bottom: 10px;
}
#textToCopy2 {
  color: #0008ff; /* Change to your desired text color */
  margin-bottom: 10px;
}
#textToCopy3 {
  color: #ff00d9; /* Change to your desired text color */
  margin-bottom: 10px;
}
